# --- IDE / PhpStorm ---
.idea/
*.iml

# --- OS files ---
.DS_Store
Thumbs.db

# --- Logs & temporaires ---
*.log
*.tmp
*.cache
*.bak

# --- Composer (même si tu ne l’utilises pas ici)
vendor/
composer.lock

# --- Environnements locaux ---
site/database/config/.env

# --- Config locales spécifiques ---
/config/*.local.php

# --- Uploads (si tu stockes des images côté serveur)
public/uploads/

# --- Cache & stockage internes ---
app/storage/cache/
app/storage/logs/
