body{
    width: 100%;
    height: 100%;
}

header {
    height: 20%;
    background-color: darkred;
    padding: 10px 20px;
}
@font-face {
    font-family:"mapolice" ;
    src: url("police/Milton_One.otf");
    font-weight: normal;
    font-style: italic;
}
.h{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin: 10px;
 }
.titre{
    display: flex;
    color: white;
    font-size: 60px;
    font-family: mapolice;
    font-weight: bold;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}

.menu a:hover {
    color: black;
}
.inscription{
    text-decoration: none;
    list-style: none;
    color: white;
}
.connexion{
    gap: 20px;
}
footer {
    height: 20%;
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}
.footer-nav {
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    padding-top: 20px;
}
.footer-nav a{
    margin-right: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    gap: 20px;
}

.reseau_sociaux{
    padding-top: 10px;
    text-decoration: none;
}
.reseau_sociaux a{
   margin-right: 20px;
}
main{
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-bottom: 10%;
}
.texte{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
h1{
    padding-top: 30px;
    font-size: xxx-large;
    color: #5e0808;

}
.paragraphe{
    display: flex;
    padding-left:20px;
    font-size: 1.3em;
    color: #5e0808;

}
.image_texte{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bouquet{
    width: 80%;
    height: 600px;
}

.boxerouge{
    width: 100%;
    height: 120%;
}

.btn_index{
    background: darkred;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 19px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
    text-decoration: none;

}

.btn_index:hover {
    background: indianred;
    transform: scale(1.05);
}

.btn_accueil{
    margin: 10%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.btn-retour-admin{
    display: flex;
    background-color: #ff6b6b;
}